<div class="card" hx-get="/log" hx-trigger="load delay:1s" hx-target="this" hx-swap="outerHTML">
    <h5 class="card-title log-first-line">{{ log[0] }}</h5>
    {% if log[1] != null %}
        <div class="card-body">
            <div >
                {% for line in log[1:] %}
                {{ line }}
                <br>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <style>
        .log-first-line {
            padding-bottom: 1rem;
        }
    </style>
    {% endif %}
</div>